body, p, ul, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
	--blue: #EBF4FD;
	--black: #010101;
	--white: #FFFFFF;
	--gray: #444645;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/Montserrat.ttf') format('truetype');
    font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/Montserrat.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/static/Montserrat-Italic.ttf') format('truetype');
    font-style: italic;
	font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
	font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 520;
}

header{
	width: 100%;
	height: 120px;
	background-color: var(--blue);
	display: flex;
	justify-content: center;
}

footer{
	width: 100%;
	height: 300px;
	background-color: var(--gray);
	display: flex;
	justify-content: center;
}

.pad{
	position: relative;
	width: 1300px;
	height: 100%;
	/*background-color: yellow;*/
}

/*шапка*/
.logo{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 48px;
	cursor: crosshair;
}

.name{
	position: absolute;
	width: 101px;
	height: 39px;
	left: 35px;
	top: 40px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	cursor: crosshair;
	color: #010101;
}

.navigateBtn{
	right: 0px;
	top: 32px;
}

.MainBtn{
	position: absolute;
	width: 165px;
	height: 55px;
	border: none;
	background: var(--gray);
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	cursor: pointer;

	color: var(--white);
}

.MainBtn:hover{
	color: var(--blue);
}
.MainBtn:active{
	background: var(--black);
}

.mainB{
	width: 95px;
	left: 410px;
}

.catalogB{
	width: 95px;
	left: 537px;
}

.aboutB{
	width: 75px;
	left: 664px;
}

.infoB{
	width: 152px;
	left: 766px;
}

.navButtons{
	position: absolute;
	top: 47px;
	height: 24px;
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 20px;
	text-align: center;

	border: none;

	color: var(--black);
	background: transparent;
}

.navButtons:hover{
	/*border-bottom: 2px solid var(--black);*/
}
.navButtons:active{
	font-weight: 600;
}

.mainL{
	width: 80px;
	left: 416px;
	display: none;
}

.catalogL{
	width: 80px;
	left: 544px;
	display: none;
}

.aboutL{
	width: 58px;
	left: 672px;
	display: none;
}

.infoL{
	width: 138px;
	left: 772px;
	display: none;
}

.navigateLines{
	position: absolute;
	top: 76px;
	border-radius: 360px;
	height: 0px;
	border: 1px solid var(--black);
	cursor: pointer;
}

.nameF{
	position: absolute;
	width: 126px;
	height: 49px;
	left: 0px;
	top: 38px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;

	color: var(--white);
}

.postF{
	position: absolute;
	width: 384px;
	height: 49px;
	right: 0px;
	top: 38px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: var(--white);
}

.lineF{
	position: absolute;
	width: 1300px;
	height: 0px;
	left: 0px;
	top: 112px;
	border: 2px solid var(--white);
}

.mainF{
	width: 115px;
	left: -10px;
}

.catalogF{
	width: 115px;
	left: 290px;
}

.aboutF{
	width: 85px;
	left: 614px;
}

.infoF{
	width: 185px;
	right: 260px;
}

.contactF{
	width: 140px;
	right: -15px;
}

.footerButtons{
	position: absolute;
	height: 29px;
	top: 187px;
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 24px;
	color: var(--white);
	border: none;
	background: transparent;
}

.footerButtons:hover{
	color: var(--blue);
}
.footerButtons:active{
	font-weight: 600;
}

.panlBtn{
	position: absolute;
	bottom: 16px;
	right: 16px;
}